---
layout: default
---

<div class="blog-index">
  {% assign index = true %}
  {% for post in paginator.posts %}
  {% assign content = post.content %}
    <article>
      {% include article.html %}
    </article>
  {% endfor %}
  <div class="pagination">
    {% if paginator.next_page %}
      <a class="prev" href="{{paginator.next_page}}">&larr; Older</a>
    {% endif %}
    <a href="/blog/archives">Blog Archives</a>
    {% if paginator.previous_page %}
    <a class="next" href="{{paginator.previous_page}}">Newer &rarr;</a>
    {% endif %}
  </div>
</div>
<aside class="sidebar">
  <section>
    <h1>About</h1>
    <p>Hi, I'm <a href="http://www.google.com/search?&amp;q=%22Robert+Thurnher%22" target="_blank">Robert Thurnher</a>, living and working in Vienna, Austria.</p>

    <p>Here's a relatively current <a href="http://dl.dropbox.com/u/194129/cv_rthurnher.pdf">CV</a>.</p>

    <p>You can also find me on <a href="http://www.xing.com/profile/Robert_Thurnher" target="_blank">Xing</a>, <a href="http://www.linkedin.com/in/rthurnher" target="_blank">LinkedIn</a>, and <a href="http://github.com/robi42" target="_blank">GitHub</a>.</p>

    <p>In case you'd like to contact me: <a href="mailto:r.thurnher[at]gmail.com">r.thurnher[at]gmail.com</a></p>
  </section>

  {% if site.blog_index_asides.size %}
    {% include_array blog_index_asides %}
  {% else %}
    {% include_array default_asides %}
  {% endif %}
</aside>
