---
layout: default
---

<div class="blog-index">
  {% assign index = true %}
  {% for post in paginator.posts %}
  {% assign content = post.content %}
    <article>
      {% include article.html %}
    </article>
  {% endfor %}
  <div class="pagination">
    {% if paginator.next_page %}
      <a class="prev" href="{{paginator.next_page}}">&larr; Older</a>
    {% endif %}
    <a href="/blog/archives">Blog Archives</a>
    {% if paginator.previous_page %}
    <a class="next" href="{{paginator.previous_page}}">Newer &rarr;</a>
    {% endif %}
  </div>
</div>
<aside class="sidebar">
  <section>
    <h1>About</h1>
    <p>Hi, I'm Robert Thurnher, <br>living and working in <br>Vienna, Austria.</p>

    <p>You can find me on <br><a href="https://www.linkedin.com/in/rthurnher" target="_blank">Linkedin</a> and <a href="https://github.com/robi42" target="_blank">Github</a>.</p>

    <p>A current CV a.k.a. résumé can be provided on request.</p>

    <p>In case you'd like to contact me: <br><a href="mailto:robert@thurnher.email">robert[at]thurnher.email</a></p>
  </section>

  {% if site.blog_index_asides.size %}
    {% include_array blog_index_asides %}
  {% else %}
    {% include_array default_asides %}
  {% endif %}

  <section>
    <a class="twitter-timeline" href="https://twitter.com/robi42" data-widget-id="379332152850006016">Tweets by @robi42</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </section>
</aside>
